services:
  app:
    image: python-app
    container_name: python-app
    ports:
      - 9000:8000

  vault:
    image: hashicorp/vault
    container_name: vault
    restart: unless-stopped
    ports:
      - 8300:8200
    environment:
      VAULT_ADDR: "http://127.0.0.1:8200"
      VAULT_API_ADDR: "http://127.0.0.1:8200"
    volumes:
      - ./vault/config/:/vault/config
      - ./vault/data/:/vault/data
      - ./vault/logs/:/vault/logs
    cap_add:
      - IPC_LOCK
    command: server
